<h1>Update attraction</h1>

<%= form_for(@attraction) do |f|%>
<div class="field"> <label for="attraction_name">Name</label><br>
<%= f.text_field :name %> </div>

<div class="field"><label for="attraction_min_height">Height Requirement (in inches)</label><br>
<%= f.number_field :min_height %> </div>

<div class="field"><label for="attraction_happiness_rating">How fun is it? (1-5 scale)</label><br>
<%= f.number_field :happiness_rating %> </div>

<div class="field"><label for="attraction_nausea_rating">How nausea-inducing is it? (1-5 scale)</label><br>
<%= f.number_field :nausea_rating%> </div>

<div class="field"><label for="attraction_tickets">How many tickets does it cost?</label><br>
<%= f.number_field :tickets%> </div>

<div class="actions">
  <%= f.submit "Update Attraction" %>
</div>
<% end %>
